<div class="main fl-fix ">
<section class="home-banner fl-fix w100 h100 pos-r">
	<div class="home-slider">
		<div class="item pos-r w100">
			<figure class="image-box bgp-rc bgsz-cv bgr-n w100 desktop-only" style="background-image: url({{ base_path }}/themes/basic/images/home-banner.jpg);"> </figure>
			<figure class="image-box bgp-cc bgsz-cv bgr-n w100 mobile-only" style="background-image: url({{ base_path }}/themes/basic/images/home-banner-mobile.jpg);"> </figure>

			<div class="banner-content w100 h100 ta-c pos-a d-f ai-c ">
				<div class="small-wrapper ">
					<h1 class="h1 title">Let us transform your next challenge into your next promotion.</h1>
					<div class="actions d-f ai-c jc-sb">

						<a class="btn btn-large" href="#business">
								Business Challenges

							</a>
						<a class="btn btn-blue2 btn-large" href="#technology">
								Technology Challenges

							</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item pos-r w100">

			<figure class="image-box bgp-rc bgsz-cv bgr-n w100 desktop-only" style="background-image: url({{ base_path }}/themes/basic/images/home-banner.jpg);"> </figure>
			<figure class="image-box bgp-cc bgsz-cv bgr-n w100 mobile-only" style="background-image: url({{ base_path }}/themes/basic/images/home-banner-mobile.jpg);"> </figure>


			<div class="banner-content w100 h100 ta-c pos-a d-f ai-c ">
				<div class="small-wrapper ">
					<h1 class="h1 ff-Roboto-Bold title">Let’s zoom out from
						<br> problems to challenges.</h1>
					<div class="content">
						<p>It’s time to shift perspective to challenge the status quo.</p>

					</div>

					<div class="actions d-f ai-c jc-sb">

						<a class="btn btn-large" href="#business">
								Business Challenges

							</a>
						<a class="btn btn-blue2 btn-large" href="#technology">
								Technology Challenges

							</a>

					</div>
				</div>

			</div>

		</div>

	</div>
	<a href="#" class="down-arrow blue"></a>
</section>
<!-- Home Banner -->


<section class="fake-section section snap-section fl-fix"></section>
<section class="home-section snap-section  pos-r ov-h  fl-fix">
	<div class="circle-wrap pos-r ov-h">
		<div class="circle pos-a"></div>

	</div>






	<section class="fl-fix home-tabs">
		<section class="services-tabs fl-fix ov-h">

			<div class="tab-list  marB70 to-load">
				<div class="inner-wrapper">
					<ul class="w100  d-f jc-c ff-Roboto-Medium">
						<li class="item  active c-blue" id="business">Business Challenges</li>
						<li class="item c-blue2" id="technology">Technology Challenges</li>
						<li class="item c-blue2" id="technology">Technology Challenges</li>

					</ul>
				</div>


			</div>
			<div class="fl-fix">
				<div class="tab-content-box fl-fix">
					<div class="tab-content jp-page-items2">
						<div class="inner-wrapper">
							<ul class="services-blocks d-f fxw-w">
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Losing Revenue to Competition</h4>
											<p>Get a competitive edge with no compromises.</p>
											<span class="learn-more pos-a">Learn More
										</span>

										</div>
										<div class="w20 ta-r">
											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-1.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-1-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Seen as Cost Center
											</h4>

											<p>A plan and a partner to execute for the future</p>
											<span class="learn-more pos-a">Learn More
										</span>

										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-2.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-2-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">No Thought Leaders
											</h4>
											<p>Access to thought leaders to build a business strategy.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-3.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-3-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Environment Exposed to Risk</h4>
											<p>Absolute confidence about protection for your data.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-4.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-4-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Not Using Data for Decisions
											</h4>
											<p>Get the insights you need for better business decisions.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-5.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-5-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>

								<li class="item to-load">
									<div class="last-box ta-c d-f ai-c jc-c fxd-c w100">
										<h4 class="ff-Roboto-Regular">Have a more<br> specific challenge?</h4>
										<a href="#" class="btn btn-orange">GET IN TOUCH</a>

									</div>

								</li>
							</ul>

						</div>


					</div>
					<div class="tab-content jp-page-items2">
						<div class="inner-wrapper">
							<ul class="services-blocks d-f fxw-w">
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Losing Revenue to Competition</h4>
											<p>Get a competitive edge with no compromises.</p>
											<span class="learn-more pos-a">Learn More
										</span>

										</div>
										<div class="w20 ta-r">
											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-1.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-1-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Seen as Cost Center
											</h4>

											<p>A plan and a partner to execute for the future</p>
											<span class="learn-more pos-a">Learn More
										</span>

										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-2.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-2-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">No Thought Leaders
											</h4>
											<p>Access to thought leaders to build a business strategy.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-3.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-3-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Environment Exposed to Risk</h4>
											<p>Absolute confidence about protection for your data.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-4.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-4-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue"></span>
										<div class="w60">
											<h4 class="h4">Not Using Data for Decisions
											</h4>
											<p>Get the insights you need for better business decisions.</p>
											<span class="learn-more pos-a">Learn More
										</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-5.svg">
											</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

												<img alt="" src="dist/images/services-icon-white-5-hover.svg">
											</span>

											</div>
										</div>
									</a>
								</li>

								<li class="item to-load">
									<div class="last-box ta-c d-f ai-c jc-c fxd-c w100">
										<h4 class="ff-Roboto-Regular">Have a more<br> specific challenge?</h4>
										<a href="#" class="btn btn-orange">GET IN TOUCH</a>

									</div>

								</li>
							</ul>

						</div>


					</div>
					<div class="tab-content jp-page-items2">
						<div class="inner-wrapper">
							<ul class="services-blocks d-f fxw-w">
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue2"></span>
										<div class="w60">
											<h4 class="h4">Tight Budget</h4>
											<p>Lorem ipsum dolor sit amet consectetur adipisng elit.</p>
											<span class="learn-more pos-a">Learn More
											</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-1.svg">
												</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-1-hover2.svg">
												</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue2"></span>
										<div class="w60">
											<h4 class="h4">I don’t have thought leaders to build business strategy
											</h4>
											<p>Lorem ipsum dolor sit amet consectetur adipisng elit.</p>
											<span class="learn-more pos-a">Learn More
											</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-7.svg">
												</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-7-hover.svg">
												</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue2"></span>
										<div class="w60">
											<h4 class="h4">Lack of IT Skills
											</h4>
											<p>Lorem ipsum dolor sit amet consectetur adipisng elit.</p>
											<span class="learn-more pos-a">Learn More
											</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-8.svg">
												</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-8-hover.svg">
												</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box   c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue2"></span>
										<div class="w60">
											<h4 class="h4">Environment Exposed to Risk</h4>
											<p>Lorem ipsum dolor sit amet consectetur adipisng elit.</p>
											<span class="learn-more pos-a">Learn More
											</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-9.svg">
												</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-9-hover.svg">
												</span>

											</div>
										</div>
									</a>
								</li>


								<li class="item to-load">
									<a class="box  c-white d-f jc-sb" href="#">
										<span class="bg-block bg-blue2"></span>
										<div class="w60">
											<h4 class="h4">Legacy Systems
											</h4>
											<p>Lorem ipsum dolor sit amet consectetur adipisng elit.</p>
											<span class="learn-more pos-a">Learn More
											</span>
										</div>
										<div class="w20 ta-r">

											<div class="icon pos-r">
												<span class="icon-normal pos-a w100 h100 ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-10.svg">
												</span>
												<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">

													<img alt="" src="dist/images/services-icon-white-10-hover.svg">
												</span>

											</div>
										</div>
									</a>
								</li>
								<li class="item to-load">
									<div class="last-box ta-c d-f ai-c jc-c fxd-c w100">
										<h4 class="ff-Roboto-Regular">HI don’t have thought leaders to build business strategy I don’t have thought leaders to build business strategy</h4>
										<a href="#" class="btn btn-orange">GET IN TOUCH</a>

									</div>

								</li>

							</ul>

						</div>


					</div>

				</div>

			</div>



		</section>

	</section>

	<!-- Services Section -->
	<div class="tracker fl-fix"></div>
	<section class="home-content fl-fix ">
		<div class="planet-wrap">
			<div class="planet pos-a">
				<span class="satellite" data-lax-preset="spin "></span>

			</div>



		</div>


		<div class="wrapper">
			<div class="d-f w100 jc-sb fxd-rr">
				<div class="w65 to-load ">
					<div class="image-box  round-box ov-h  pos-r video-box">

						<iframe width="850" height="480" src="https://www.youtube.com/embed/LAbDZsThFB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<a href="#" class="play-btn">
							<figure>


								<picture>
									<source media="(min-width: 980px)" srcset="dist/images/home-content-img.jpg">

									<!-- img tag for browsers that do not support picture element -->
									<img src="dist/images/home-content-img.jpg" alt="">
								</picture>


							</figure>

						</a>




					</div>

				</div>
				<div class="w35  to-load delay-2 ">
					<h2 class="h2 title">Say NO MORE to the status quo.</h2>
					<div class="content">
						<p>Leaders like you need a partner that designs technology solutions and platforms that enable you to dominate your industry. Leaders like you need a partner that can transform the technology tools and resources you already
							have into undeniable business value.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
						</p>
						<h5>Leaders like you choose Meridian.</h5>
						<a href="#" class="btn">GET IN TOUCH</a>

					</div>

				</div>

			</div>

		</div>

	</section>
	<!-- Home Content Section -->
	<section class="testimonial-section fl-fix ov-h">
		<div class="wrapper">
			<h2 class="h2 title marB50 to-load no-anim">What Our Clients Are Saying</h2>
			<div class="gray-box">
				<div class="testimonial-slider pos-r to-load">
					<div class="item  w100">
						<div class="d-f w100 jc-sb   ">
							<div class="w60">

								<div class="image-box  round-box ov-h  pos-r video-box">

									<iframe width="850" height="480" src="https://www.youtube.com/embed/LAbDZsThFB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

									<a href="#" class="play-btn ov-h">
										<figure>

											<picture>
												<source media="(min-width: 980px)" srcset="dist/images/test-img1.jpg">

												<!-- img tag for browsers that do not support picture element -->
												<img src="dist/images/test-img1.jpg" alt="">
											</picture>


										</figure>

									</a>




								</div>

							</div>
							<div class="w35 text-box">
								<h4 class="h6 marB60 tt-u">CONSULTING</h4>
								<div class="content">
									<p>Meridian IT knows our entire environment and, from a strategic perspective, they are able to help us roadmap what our environment should look like in the future as well as now.
										<span class="colon right"></span>
									</p>
									<p class="customer-quote"><strong>Paul Slager</strong></p>
									<p class="customer-quote">Vice President of Technology</p>
									<figure>
										<img src="/uploads/images/test-logo.jpg" alt="Customer Success Stories Envista Forensics Logo">
									</figure>
								</div>
							</div>
						</div>

					</div>



				</div>
				<a href="#" class="btn more-btn">SEE ALL</a>
			</div>


		</div>
	</section>
	<!-- Home Testimonial Section -->

	<section class="home-shoutout fl-fix bg-blue c-white ta-c ov-h ">

		<div class="small-wrapper">
			
			<div class="to-load loaded">
				<h2>Expect more from your <br> technology partner and focus on <br> the projects that matter.</h2>
				<div class="actions">
					<a href="https://www.meridianitinc.com/contact-us?MIT%20Inbound%20Solution=Home" class="contact-btn btn  no-hover text-35536 ">Get In Touch</a>
				</div>
			</div>
			

		</div>

	</section>
	<!-- Home Blue Section -->

	<section class="home-blog fl-fix ov-h">
		<div class="inner-wrapper2">
			<div class="title marB60 d-f jc-sb ai-c to-load">
				<h2 class="marB0"><a href="#">Blog</a></h2>
				<!-- <a href="#" class="btn">READ ALL</a> -->
			</div>

			<div class="blog-listing">
				<ul class="list col-3 ">

					<li class="item col to-load ">
						<article class="post featured ">
							<div class="image-box">
								<a href="#">
									<figure class="pos-r has-light-overlay bgp-cc bgsz-cv bgr-n" style="background-image: url(dist/images/blog-img1.jpg);">
									</figure>
								</a>

							</div>
							<a class="details">
								<h3> Lorem ipsum dolor sit amet consectetur adipiscing </h3>
								<p>Most organizations are experiencing significant disruption to their business operations ...</p>

								<div class="btm-actions d-f jc-sb ai-c w100">
									<span class="date">10.09.2019</span>


								</div>
							</a>
						</article>

					</li>
				   <li class="item col to-load ">
						<article class="post featured ">
							<div class="image-box">
								<a href="#">
									<figure class="pos-r has-light-overlay bgp-cc bgsz-cv bgr-n" style="background-image: url(dist/images/blog-img1.jpg);">
									</figure>
								</a>

							</div>
							<a class="details">
								<h3> Lorem ipsum dolor sit amet consectetur adipiscing </h3>
								<p>Most organizations are experiencing significant disruption to their business operations ...</p>

								<div class="btm-actions d-f jc-sb ai-c w100">
									<span class="date">10.09.2019</span>


								</div>
							</a>
						</article>

					</li>

					<li class="item col to-load ">
						<article class="post featured ">
							<div class="image-box">
								<a href="#">
									<figure class="pos-r has-light-overlay bgp-cc bgsz-cv bgr-n" style="background-image: url(dist/images/blog-img1.jpg);">
									</figure>
								</a>

							</div>
							<a class="details">
								<h3> Lorem ipsum dolor sit amet consectetur adipiscing </h3>
								<p>Most organizations are experiencing significant disruption to their business operations ...</p>

								<div class="btm-actions d-f jc-sb ai-c w100">
									<span class="date">10.09.2019</span>


								</div>
							</a>
						</article>

					</li>


				</ul>



			</div>
		  
		</div>


	</section>
</section>


</div>
<!-- Main Section -->