<!-- ______________________ HEADER _______________________ -->
<header class="page-header fl-fix">
	<div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<p>Mitigate the Business and Economic impact of COVID-19 Coronavirus with Strategies from Meridian.</p>
		<p><strong><a href="/covid-19">READ OUR LATEST INSIGHTS</a></strong></p>
	</div>
	<style>.alert{background-color:#1570b9;color:#fff}.alert a{color:#fff}.alert .closebtn{color:#fff}</style>

	<div class="head-wrapper d-f a-ic jc-sb w100">
		<button class="nav-toggle no-hover">
			<span></span>
	   </button>
		<div class="logo ">
			<a href="index.html">
				<img alt="Meridian" src="{{ base_path }}/themes/basic/images/meridian-logo.png">
			</a>
		</div>
		<div class="header-right d-f ai-c  ">
			<div class="search-box pos-r">
				<input placeholder="Lorem Ipsum" type="text">
				<input type="submit">
			</div>
			<a href="#" class="mob-search-toggle mobile-only"></a>
			<div class="lang-box marR30">
				<a class="lang-link" href="#">ENG</a>

			</div>
			<a class="btn btn-orange" href="#">Get in Touch</a>
		</div>
	</div>

	<div class="page-menu bg-white">
		<nav class="menu">
			<ul>


				<li class="blue"><a href="#">Business Challenges</a>

					<ul>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-1-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-1.svg">
									
								</span>

								</div>Losing Revenue to Competition</a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-2-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-2.svg">
									
								</span>

								</div>Seen as Cost Center </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-3-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-3.svg">
									
								</span>

								</div>No Thought Leaders
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-4-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-4.svg">
									
								</span>

								</div>Environment Exposed to Risk </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-5-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-5.svg">
									
								</span>

								</div>Not Using Data for Decisions
							</a>
						</li>

					</ul>



				</li>
				<li class="red"><a href="#">Technology Challenges</a>
					<ul>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-1-hover2.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-1.svg">
									
								</span>

								</div>Tight Budget </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-7-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-7.svg">
									
								</span>

								</div>Seen as Cost Center </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-8-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-8.svg">
									
								</span>

								</div>Lack of IT Skills </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-9-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-9.svg">
									
								</span>

								</div>Environment Exposed to Risk </a>
						</li>
						<li>
							<a href="#">
								<div class="icon pos-r">
									<span class="icon-normal pos-a w100 h100 ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-10-hover.svg">
									
								</span>
									<span class="icon-hover pos-a w100 h100 d-f ai-c jc-c">
										<img alt="" src="dist/images/services-icon-white-10.svg">
									
								</span>

								</div>Legacy Systems </a>
						</li>

					</ul>


				</li>
				<li class="blue"><a href="#">Services </a>
					<ul>
						<li><a href="http://www.micrositemeridian.com/services/ibm-power">
																																																																																																																																																IBM Power Cloud
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/backup-recovery">
																																																																																																																																																Backup &amp; Recovery
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/doc">
																																																																																																																																																Database Optimization
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/maco">
																																																																																																																																																Maco
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/sap">
																																																																																																																																																SAP
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/hyperconverged">
																																																																																																																																																Hyperconverged
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/security">
																																																																																																																																																Security
</a></li>
						<li><a href="http://www.micrositemeridian.com/services/contact-center">
																																																																																																																																																Contact Center
</a></li>
					</ul>

				</li>
				<li><a href="#">Customer Success</a></li>
				<li><a href="#">About </a>
					<ul>
						<li><a href="http://www.micrositemeridian.com/about-us">
																																																																																																																														Overview
</a></li>
						<li><a href="http://www.micrositemeridian.com/offices">
																																																																																																																														Offices
</a></li>
						<li><a href="http://www.micrositemeridian.com/our-partners">
																																																																																																																														Partners
</a></li>
						<li class=""><a href="http://www.micrositemeridian.com/careers">
																																																																																																																														Careers
</a></li>
					</ul>
				</li>
				<li><a href="#">Blog </a></li>



			</ul>

		</nav>


	</div>
</header>
<!-- Header Section-->